.dropdown {
  height: 0;
  overflow: hidden;
  transition: none;
}
.dropdown.open {
  height: 200px;
  transition: height 0.1s ease-out;
  border-bottom: 1px solid lightgray;
}
.dropdown.open2 {
  height: 200px;
  transition: height 0.1s ease-out;
  border-bottom: 1px solid rgb(30, 30, 30);
}

.thumb {
  pointer-events: none;
  background: transparent;
  cursor: pointer;
}

.thumb::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 1px solid gray;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: transform 0.2s ease;
}

.thumb::-moz-range-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.thumb:focus {
  outline: none;
}

.bg-hero-light {
  background-color: #d8a16b;
}
.bg-hero-dark {
  background-color: #9f7f5f;
}
