@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none; /* IE and old Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Add this to prevent white flash */
body {
  background-color: white;
  transition: background-color 0.2s ease;
}

body.dark {
  background-color: #0a0a0a; /* or rgb(10, 10, 10) to match bg-neutral-950 */
}

.headings {
  font-family: "Poppins", sans-serif;
}

.hero-font {
  font-family: "Bebas Neue", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
